In [1]:
import os
import urllib
import xlwings as xw
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
nome_arquivo = 'D:\\Raizen\\Sales_of_oil_derivative_fuels_by_UF_and_product.xls'

In [3]:
url = 'http://www.anp.gov.br/arquivos/dados-estatisticos/vendas-combustiveis/vendas-combustiveis-m3.xls'
file_name, headers = urllib.request.urlretrieve(url)

In [4]:
wb_vba = xw.Book('D:\\Raizen\\Double_click.xlsm')
wb = xw.Book(file_name)

In [5]:
macro = wb_vba.macro('click')
macro()

In [6]:
try:
    os.remove(nome_arquivo)
except:
    print("Sem arquivo")

In [7]:
wb.save(nome_arquivo)

In [8]:
app = xw.apps.active 
app.quit()

In [10]:
df_oil_2 = pd.DataFrame(columns=['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE', 'Jan', 'Fev','Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'TOTAL'])
for num in range(0,21):
    df_oil = pd.read_excel('D:\\Raizen\\Sales_of_oil_derivative_fuels_by_UF_and_product.xls',sheet_name=num)    
    df_oil_2 = df_oil_2.append(df_oil, ignore_index=True)

In [11]:
df_oil_2

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,9563.263,11341.229,9369.746,10719.983,11165.968,12312.451,11220.970,12482.281,13591.122,11940.570,11547.576,10818.094,136073.253
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,3065.758,3495.290,2946.930,3023.920,3206.930,3612.580,3264.460,3835.740,3676.571,3225.610,3289.718,3358.346,40001.853
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,17615.604,20258.200,18741.344,19604.023,20221.674,20792.616,19912.898,21869.338,21145.643,20633.175,20766.918,21180.919,242742.352
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,3259.300,3636.216,3631.569,3348.416,3394.016,4078.616,3346.616,4029.900,4358.516,3716.032,3200.400,3339.332,43338.929
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,28830.479,32297.047,27310.979,29396.384,26511.009,36553.250,31807.840,31009.972,29755.907,28661.951,28145.784,29294.796,359575.398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4531,GASOLINA C (m3),2020,REGIÃO NORTE,PARÁ,m3,98411.483,92423.778,88936.621,74387.814,74374.543,95154.721,109312.500,108408.421,112583.203,NaN,NaN,NaN,853993.084
4532,GASOLINA C (m3),2020,REGIÃO NORTE,RORAIMA,m3,13154.600,12727.000,12446.900,10087.300,10599.600,11164.000,12414.800,12911.200,14593.693,NaN,NaN,NaN,110099.093
4533,GASOLINA C (m3),2020,REGIÃO NORTE,AMAZONAS,m3,50449.272,47495.745,44914.566,33250.638,41027.741,48400.438,60530.379,59479.429,58871.991,NaN,NaN,NaN,444420.199
4534,GASOLINA C (m3),2020,REGIÃO NORTE,ACRE,m3,11133.900,10612.900,10019.180,9225.600,8885.500,10303.700,11745.500,11762.943,12501.500,NaN,NaN,NaN,96190.723
4535,GASOLINA C (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,35915.250,34160.660,32174.746,29150.470,30937.000,32246.350,36606.700,36023.100,38732.650,NaN,NaN,NaN,305946.926

In [12]:
del df_oil_2['TOTAL']

In [13]:
df_oil_2 = df_oil_2.melt(id_vars=["COMBUSTÍVEL", "ANO", "REGIÃO", "ESTADO", "UNIDADE"], 
                var_name="MES", 
                value_name="TOTAL")

In [14]:
df_oil_2

           COMBUSTÍVEL   ANO        REGIÃO    ESTADO UNIDADE  MES      TOTAL
0      GASOLINA C (m3)  2000  REGIÃO NORTE  RONDÔNIA      m3  Jan   9563.263
1      GASOLINA C (m3)  2000  REGIÃO NORTE      ACRE      m3  Jan   3065.758
2      GASOLINA C (m3)  2000  REGIÃO NORTE  AMAZONAS      m3  Jan  17615.604
3      GASOLINA C (m3)  2000  REGIÃO NORTE   RORAIMA      m3  Jan   3259.300
4      GASOLINA C (m3)  2000  REGIÃO NORTE      PARÁ      m3  Jan  28830.479
...                ...   ...           ...       ...     ...  ...        ...
54427  GASOLINA C (m3)  2020  REGIÃO NORTE      PARÁ      m3  Dez        NaN
54428  GASOLINA C (m3)  2020  REGIÃO NORTE   RORAIMA      m3  Dez        NaN
54429  GASOLINA C (m3)  2020  REGIÃO NORTE  AMAZONAS      m3  Dez        NaN
54430  GASOLINA C (m3)  2020  REGIÃO NORTE      ACRE      m3  Dez        NaN
54431  GASOLINA C (m3)  2020  REGIÃO NORTE  RONDÔNIA      m3  Dez        NaN

[54432 rows x 7 columns]

In [15]:
round(df_oil_2.groupby(['ANO', 'MES']).sum(['TOTAL']))

               TOTAL
ANO  MES
2000 Abr   7282573.0
     Ago   7840944.0
     Dez   7380667.0
     Fev   7416433.0
     Jan   6995110.0
...              ...
2020 Mai   9497880.0
     Mar  10645620.0
     Nov         0.0
     Out         0.0
     Set  11554429.0

[252 rows x 1 columns]

In [16]:
de_para_mes = {'Jan':1, 'Fev':2,'Mar':3, 'Abr':4, 'Mai':5, 'Jun':6, 'Jul':7, 'Ago':8, 'Set':9, 'Out':10, 'Nov':11, 'Dez':12} 

mes_convertido = []
for mes in df_oil_2['MES']:
    mes_convertido.append(de_para_mes.get(mes))

de_para_uf = {'ACRE':'AC', 
               'AMAZONAS':'AM',
               'AMAPÁ':'AP', 
               'ALAGOAS':'AL', 
               'BAHIA':'BA', 
               'CEARÁ':'CE', 
               'ESPÍRITO SANTO':'ES', 
               'GOIÁS':'GO', 
               'MARANHÃO':'MA', 
               'MATO GROSSO':'MT', 
               'MATO GROSSO DO SUL':'MS', 
               'MINAS GERAIS':'MG', 
               'PARÁ':'PA', 
               'PARAÍBA':'PB', 
               'PARANÁ':'PR', 
               'PERNAMBUCO':'PE', 
               'PIAUÍ':'PI', 
               'RIO DE JANEIRO':'RJ', 
               'RIO GRANDE DO NORTE':'RN', 
               'RIO GRANDE DO SUL':'RS', 
               'RONDÔNIA':'RO', 
               'RORAIMA':'RR', 
               'SANTA CATARINA':'SC', 
               'SÃO PAULO':'SP', 
               'SERGIPE':'SE', 
               'TOCANTINS':'TO', 
               'DISTRITO FEDERAL':'DF'}    

unidade_federativa = []
for uf in df_oil_2['ESTADO']:
    unidade_federativa.append(de_para_uf.get(uf))


df_oil_2['MES_NUM'] = np.array(mes_convertido)

df_oil_2['UF'] = np.array(unidade_federativa)

df_oil_2['YEAR_MONTH'] = df_oil_2['ANO'].map(str) + '-' + df_oil_2['MES_NUM'].map(str) + '-' + '01'

df_oil_2

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,MES,TOTAL,MES_NUM,UF,YEAR_MONTH
0,GASOLINA C (m3),2000,REGIÃO NORTE,RONDÔNIA,m3,Jan,9563.263,1,RO,2000-1-01
1,GASOLINA C (m3),2000,REGIÃO NORTE,ACRE,m3,Jan,3065.758,1,AC,2000-1-01
2,GASOLINA C (m3),2000,REGIÃO NORTE,AMAZONAS,m3,Jan,17615.604,1,AM,2000-1-01
3,GASOLINA C (m3),2000,REGIÃO NORTE,RORAIMA,m3,Jan,3259.300,1,RR,2000-1-01
4,GASOLINA C (m3),2000,REGIÃO NORTE,PARÁ,m3,Jan,28830.479,1,PA,2000-1-01
...,...,...,...,...,...,...,...,...,...,...
54427,GASOLINA C (m3),2020,REGIÃO NORTE,PARÁ,m3,Dez,NaN,12,PA,2020-12-01
54428,GASOLINA C (m3),2020,REGIÃO NORTE,RORAIMA,m3,Dez,NaN,12,RR,2020-12-01
54429,GASOLINA C (m3),2020,REGIÃO NORTE,AMAZONAS,m3,Dez,NaN,12,AM,2020-12-01
54430,GASOLINA C (m3),2020,REGIÃO NORTE,ACRE,m3,Dez,NaN,12,AC,2020-12-01
54431,GASOLINA C (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,Dez,NaN,12,RO,2020-12-01

In [17]:
final = DataFrame(df_oil_2, columns = ['YEAR_MONTH', 'UF', 'COMBUSTÍVEL', 'UNIDADE', 'TOTAL'])

In [18]:
final.set_index('YEAR_MONTH', inplace=True)

In [19]:
#final
final.to_csv('D:\\Raizen\\final.csv')