In [1]:
import os
import urllib
import xlwings as xw
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
nome_arquivo = 'D:\\Raizen\\Sales_of_dieadel_by_UF_and_type.xls'

In [3]:
url = 'http://www.anp.gov.br/arquivos/dados-estatisticos/vendas-combustiveis/vendas-combustiveis-m3.xls'
file_name, headers = urllib.request.urlretrieve(url)

In [4]:
wb_vba = xw.Book('D:\\Raizen\\Double_click_diesel.xlsm')
wb = xw.Book(file_name)

In [5]:
macro = wb_vba.macro('click')
macro()

In [6]:
try:
    os.remove(nome_arquivo)
except:
    print("Sem arquivo")

Sem arquivo

In [7]:
wb.save(nome_arquivo)

In [8]:
app = xw.apps.active 
app.quit()

In [9]:
df_oil_2 = pd.DataFrame(columns=['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE', 'Jan', 'Fev','Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'TOTAL'])
for num in range(0,8):
    df_oil = pd.read_excel('D:\\Raizen\\Sales_of_dieadel_by_UF_and_type.xls',sheet_name=num)    
    df_oil_2 = df_oil_2.append(df_oil, ignore_index=True)

In [10]:
df_oil_2

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,TOTAL
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,3517.600,3681.700,4700.670,5339.200,6166.400,6539.650,7283.700,8082.850,7902.550,9383.15,9767.400,9088.800,81453.670
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,363.000,410.000,536.000,607.000,740.000,756.000,971.000,1174.000,1240.000,1439.00,1483.000,1483.000,11202.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,3190.585,3305.000,3391.000,3637.000,4250.000,4576.000,5756.879,6228.636,6334.000,7154.20,6836.300,6784.232,61443.832
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,795.400,757.200,939.800,1040.600,966.000,992.900,1027.000,1083.800,1311.200,1475.30,1502.700,1531.800,13423.700
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,30137.800,28146.300,31280.500,33033.050,33519.880,34321.530,37168.160,41248.336,40913.480,45383.50,44013.219,41975.030,441140.785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,PARÁ,m3,96318.777,97360.459,105397.723,98104.433,102710.684,114838.444,136164.113,131442.018,130979.333,NaN,NaN,NaN,1013315.984
1076,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RORAIMA,m3,4264.600,4569.900,5326.200,4305.900,3887.200,3742.000,3951.500,4419.350,5311.850,NaN,NaN,NaN,39778.500
1077,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,AMAZONAS,m3,12978.300,12826.480,13913.122,9226.694,11181.418,13172.407,16080.587,16308.847,17126.717,NaN,NaN,NaN,122814.572
1078,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,ACRE,m3,2966.800,2984.600,3090.400,2594.200,2729.200,3262.500,3625.000,3934.000,4132.000,NaN,NaN,NaN,29318.700
1079,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,30205.746,34709.510,34928.542,34903.322,38013.024,38968.007,43209.636,38588.346,36259.138,NaN,NaN,NaN,329785.271

In [11]:
del df_oil_2['TOTAL']

In [12]:
df_oil_2 = df_oil_2.melt(id_vars=["COMBUSTÍVEL", "ANO", "REGIÃO", "ESTADO", "UNIDADE"], 
                var_name="MES", 
                value_name="TOTAL")

In [13]:
df_oil_2

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,MES,TOTAL
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,Jan,3517.600
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,Jan,363.000
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,Jan,3190.585
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,Jan,795.400
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,Jan,30137.800
...,...,...,...,...,...,...,...
12955,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,PARÁ,m3,Dez,NaN
12956,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RORAIMA,m3,Dez,NaN
12957,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,AMAZONAS,m3,Dez,NaN
12958,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,ACRE,m3,Dez,NaN
12959,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,Dez,NaN

In [14]:
round(df_oil_2.groupby(['ANO', 'MES']).sum(['TOTAL']))

              TOTAL
ANO  MES
2013 Abr  4943159.0
     Ago  5369365.0
     Dez  4469189.0
     Fev  4276021.0
     Jan  4456693.0
...             ...
2020 Mai  4360350.0
     Mar  4710564.0
     Nov        0.0
     Out        0.0
     Set  5237176.0

[96 rows x 1 columns]

In [15]:
de_para_mes = {'Jan':1, 'Fev':2,'Mar':3, 'Abr':4, 'Mai':5, 'Jun':6, 'Jul':7, 'Ago':8, 'Set':9, 'Out':10, 'Nov':11, 'Dez':12} 

mes_convertido = []
for mes in df_oil_2['MES']:
    mes_convertido.append(de_para_mes.get(mes))

de_para_uf = {'ACRE':'AC', 
               'AMAZONAS':'AM',
               'AMAPÁ':'AP', 
               'ALAGOAS':'AL', 
               'BAHIA':'BA', 
               'CEARÁ':'CE', 
               'ESPÍRITO SANTO':'ES', 
               'GOIÁS':'GO', 
               'MARANHÃO':'MA', 
               'MATO GROSSO':'MT', 
               'MATO GROSSO DO SUL':'MS', 
               'MINAS GERAIS':'MG', 
               'PARÁ':'PA', 
               'PARAÍBA':'PB', 
               'PARANÁ':'PR', 
               'PERNAMBUCO':'PE', 
               'PIAUÍ':'PI', 
               'RIO DE JANEIRO':'RJ', 
               'RIO GRANDE DO NORTE':'RN', 
               'RIO GRANDE DO SUL':'RS', 
               'RONDÔNIA':'RO', 
               'RORAIMA':'RR', 
               'SANTA CATARINA':'SC', 
               'SÃO PAULO':'SP', 
               'SERGIPE':'SE', 
               'TOCANTINS':'TO', 
               'DISTRITO FEDERAL':'DF'}    

unidade_federativa = []
for uf in df_oil_2['ESTADO']:
    unidade_federativa.append(de_para_uf.get(uf))


df_oil_2['MES_NUM'] = np.array(mes_convertido)

df_oil_2['UF'] = np.array(unidade_federativa)

df_oil_2['YEAR_MONTH'] = df_oil_2['ANO'].map(str) + '-' + df_oil_2['MES_NUM'].map(str) + '-' + '01'

df_oil_2

,COMBUSTÍVEL,ANO,REGIÃO,ESTADO,UNIDADE,MES,TOTAL,MES_NUM,UF,YEAR_MONTH
0,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RONDÔNIA,m3,Jan,3517.600,1,RO,2013-1-01
1,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,ACRE,m3,Jan,363.000,1,AC,2013-1-01
2,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,AMAZONAS,m3,Jan,3190.585,1,AM,2013-1-01
3,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,RORAIMA,m3,Jan,795.400,1,RR,2013-1-01
4,ÓLEO DIESEL S-10 (m3),2013,REGIÃO NORTE,PARÁ,m3,Jan,30137.800,1,PA,2013-1-01
...,...,...,...,...,...,...,...,...,...,...
12955,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,PARÁ,m3,Dez,NaN,12,PA,2020-12-01
12956,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RORAIMA,m3,Dez,NaN,12,RR,2020-12-01
12957,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,AMAZONAS,m3,Dez,NaN,12,AM,2020-12-01
12958,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,ACRE,m3,Dez,NaN,12,AC,2020-12-01
12959,ÓLEO DIESEL S-10 (m3),2020,REGIÃO NORTE,RONDÔNIA,m3,Dez,NaN,12,RO,2020-12-01

In [16]:
final = DataFrame(df_oil_2, columns = ['YEAR_MONTH', 'UF', 'COMBUSTÍVEL', 'UNIDADE', 'TOTAL'])

In [17]:
final.set_index('YEAR_MONTH', inplace=True)

In [18]:
#final
final.to_csv('D:\\Raizen\\final_diesel.csv')